{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.primary_menu: 'Primary menu/main navigation'
 * - page.secondary_menu: 'Secondary menu'
 * - page.banner_image: 'Banner Image'
 * - page.banner_text: 'Banner Text'
 * - page.header: Header
 * - page.featured_icons: 'Featured Icons'
 * - page.front_upcoming_events: 'Front Upcoming Events'
 * - page.page_top: 'Page top'
 * - page.content: 'Content'
 * - page.page_bottom: 'Page bottom'
 * - page.right_sidebar: 'Right sidebar'
 * - page.first_footer: 'First footer'
 * - page.second_footer: 'Second footer'
 * - page.third_footer: 'Third footer'
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}
<div class="wrapper">
<a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
{% if page.primary_menu %}
  {% block navbar %}
    <nav class="navbar {{ sticky_navbar ? 'fixed-top' : '' }} navbar-expand-lg {{ dark_navbar ? 'navbar-dark' : 'navbar-light' }}" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/">
          <svg class="logo font-weight-bolder" viewBox="0 0 1875 313" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/">
              <g>
                  <path d="M248.678,92.878c-9.199,-31.172 -24.822,-58.361 -45.056,-82.689c-2.297,27.27 5.192,54.227 21.795,80.892l-0.977,12.103c0,0 -3.404,-5.654 -12.078,-9.51c-13.083,-5.815 -34.424,-10.623 -44.492,-10.298c-8.861,0.286 -23.221,6.787 -32.348,14.073c-6.505,5.193 -9.588,11.922 -9.588,11.922c-11.431,7.306 -12.746,19.066 -15.076,33.851c-6.955,1.735 -16.48,15.129 -24.541,34.116l10.865,4.788l-0.896,13.872l1.521,6.515c-3.956,3.504 -5.873,7.787 -3.972,13.532c1.663,4.79 3.55,9.347 8.565,10.645c0,-0 9.237,0.836 18.268,0.74c8.385,-0.09 16.54,-1.13 18.272,-0.663l-6.373,8.115l3.318,17.798l1.3,5.471c0.655,0.742 -7.007,6.475 -17.484,10.738c-1.976,0.804 -1.532,3.4 -3.375,4.689c11.179,8.819 24.105,10.533 37.827,9.018l12.478,-8.719l8.095,-1.218l-0.993,13.817c3.212,6.222 6.493,9.52 9.836,10.253c3.878,0.851 7.838,-1.754 11.867,-7.256l4.65,-36.175c6.608,-5.076 13.918,-7.301 22.129,-5.866l0.904,-5.981l-5.689,-14.308l2.966,-22.244c22.07,-13.738 28.835,-49.131 27.43,-96.085c-0,0 0.91,-14.959 0.852,-15.936Zm-95.823,29.46c24.467,-7.373 48.475,-11.95 71.955,-13.325l-6.194,-5.224l-64.383,7.918l-1.683,4.574l-10.174,-1.241l0.366,-2.637l-11.506,-0.905c-2.922,5.899 -6.193,11.45 -9.877,16.592l26.503,3.462l-0.712,7.824l-25.987,-3.621l-0.058,1.088l25.851,4.669l-1.019,11.197l-12.812,-1.786l-0.294,8.536c9.541,7.028 14.022,14.237 15.376,21.556c-5.865,-5.196 -12.258,-11.092 -19.955,-18.712l-1.231,-5.606l-8.703,-1.28l2.192,-12.131l-5.512,1.644c-8.783,8.553 -12.937,14.493 -16.978,26.591c1.21,-0.143 3.598,0.651 6.09,0.34c2.027,-0.252 -0.801,-4.316 1.208,-4.856c2.797,-0.751 11.874,1.816 13.048,1.279l-0.174,-6.862l5.785,-2.393l7.177,15.235l5.568,1.486l-0.412,7.76l-1.565,5.116l-9.036,-10.499c-2.009,-3.207 -4.347,-4.045 -7.048,-2.283c4.013,6.424 4.942,12.641 4.357,18.755l-19.215,0.734l-3.71,2.079l14.546,4.791l3.974,3.533l5.957,0.032c5.94,-1.692 9.816,2.291 13.331,7.266l-7.733,-0.227c-3.083,-2.473 -6.716,-2.58 -10.899,-0.319c-8.456,-2.687 -15.607,-3.776 -19.243,-0.563l1.485,8.733c5.159,1.998 14.024,1.835 21.579,-0.021c2.706,-0.664 5.212,-2.614 7.364,-3.264l8.918,-0.13c3.797,-0.3 14.224,-0.346 17.689,2.208c4.394,3.239 1.314,9.5 0.262,11.996c-1.009,2.397 -6.91,4.554 -9.008,5.773c-3.411,4.14 -5.396,9.64 -5.009,17.399l9.512,9.163l15.686,-10.633l5.756,-1.54l5.042,-38.539l-2.807,-4.656l-12.789,-22.772c4.777,-15.522 6.155,-28.805 3.941,-39.72c-1.988,-9.8 -6.872,-17.693 -14.792,-23.584Zm61.623,106.718l-5.826,-4.088l-7.905,4.786c0.214,8.861 -1.412,11.923 -2.871,16.431l5.086,-0.462l3.376,-4.146l7.276,-0.491l0.864,-12.03Zm-105.308,-50.845l-11.289,-1.809c-0.178,0.112 1.748,0.579 2.387,3.972c0.538,2.856 -0.206,8.738 -0.206,8.738c0,-0 5.86,-1.624 5.895,-1.266c1.45,1.828 9.065,2.928 11.025,1.536c1.543,-1.096 -2.491,-4.557 -2.491,-4.557c-0.072,-4.019 -2.081,-5.973 -5.321,-6.614Z"/>
              </g>
              <path d="M369.264,91.085c0,26.5 18.875,46.375 46.875,46.375c23.375,-0 36,-15 36,-15l-11.25,-16c0,-0 -10.25,11 -23.75,11c-16.5,-0 -25.25,-13.625 -25.25,-26.875c0,-12.875 8.125,-25.5 25.25,-25.5c12.375,-0 22.375,9.125 22.375,9.125l10.125,-16.5c0,-0 -11.375,-12.625 -33.5,-12.625c-26.875,-0 -46.875,20 -46.875,46Z" style="fill-rule:nonzero;"/>
              <path d="M515.639,135.96l22.5,-0l-30.375,-89.375l-23,-0l-30.375,89.375l22.5,-0l5.375,-18.75l27.875,-0l5.5,18.75Zm-19.25,-69c0,-0 2,9.75 3.625,15.375l5,17.375l-17.625,-0l5.125,-17.375c1.625,-5.625 3.625,-15.375 3.625,-15.375l0.25,-0Z" style="fill-rule:nonzero;"/>
              <path d="M545.389,135.96l22,-0l2.75,-40.25c0.5,-6.75 0,-15 0,-15l0.25,-0c0,-0 3,9.375 5,15l9.375,25.875l18.75,-0l9.375,-25.875c2,-5.625 5,-15 5,-15l0.25,-0c0,-0 -0.5,8.25 0,15l2.75,40.25l21.875,-0l-7.25,-89.375l-23.75,-0l-13,37.75c-2,5.75 -4.5,14.75 -4.5,14.75l-0.25,-0c0,-0 -2.5,-9 -4.5,-14.75l-13,-37.75l-23.75,-0l-7.375,89.375Z" style="fill-rule:nonzero;"/>
              <path d="M661.014,135.96l21.875,-0l0,-27.625l15.25,-0c17.375,-0 29.125,-13 29.125,-31c0,-18 -11.75,-30.75 -29.125,-30.75l-37.125,-0l0,89.375Zm21.875,-46.375l0,-24.25l11.125,-0c7.25,-0 11,4.875 11,12c0,7.125 -3.75,12.25 -11.375,12.25l-10.75,-0Z" style="fill-rule:nonzero;"/>
              <path d="M768.889,135.96l21.875,-0l0,-41.625c0,-5.625 -1,-15.25 -1,-15.25l0.25,-0c0,-0 4,9.375 7.5,15.25l24.875,41.625l22,-0l0,-89.375l-21.875,-0l0,41.75c0,5.625 1,15.25 1,15.25l-0.25,-0c0,-0 -4,-9.375 -7.5,-15.25l-24.75,-41.75l-22.125,-0l0,89.375Z" style="fill-rule:nonzero;"/>
              <path d="M859.264,90.71c0,26.25 19.75,46.75 46.75,46.75c27,-0 46.75,-20.5 46.75,-46.75c0,-25.625 -19.75,-45.625 -46.75,-45.625c-27,-0 -46.75,20 -46.75,45.625Zm22.625,-0c0,-14.625 10.75,-25.625 24.125,-25.625c13.375,-0 24.125,11 24.125,25.625c0,15.25 -10.75,26.75 -24.125,26.75c-13.375,-0 -24.125,-11.5 -24.125,-26.75Z" style="fill-rule:nonzero;"/>
              <path d="M961.514,90.71c0,26.25 19.75,46.75 46.75,46.75c9.75,-0 18.5,-2.625 25.75,-7.375l9.125,8.625l12.375,-13.875l-9.375,-7.625c5.25,-7.5 8.875,-16.25 8.875,-26.5c0,-25.625 -19.75,-45.625 -46.75,-45.625c-27,-0 -46.75,20 -46.75,45.625Zm22.625,-0c0,-14.625 10.75,-25.625 24.125,-25.625c13.375,-0 24.125,11 24.125,25.625c0,4.125 -0.875,8 -2.375,11.5l-8.875,-8.625l-12.25,13.875l9.125,8c-2.75,1.375 -6.5,2 -9.75,2c-13.375,-0 -24.125,-11.5 -24.125,-26.75Z" style="fill-rule:nonzero;"/>
              <path d="M1069.89,103.085c0,20.125 14.75,34.375 37.5,34.375c22.5,-0 37.25,-14.25 37.25,-34.375l0,-56.5l-21.875,-0l0,56.5c0,9.375 -6.125,14.375 -15.5,14.375c-9.375,-0 -15.5,-5 -15.5,-14.375l0,-56.5l-21.875,-0l0,56.5Z" style="fill-rule:nonzero;"/>
              <path d="M1158.26,90.71c0,26.25 19.75,46.75 46.75,46.75c27,-0 46.75,-20.5 46.75,-46.75c0,-25.625 -19.75,-45.625 -46.75,-45.625c-27,-0 -46.75,20 -46.75,45.625Zm22.625,-0c0,-14.625 10.75,-25.625 24.125,-25.625c13.375,-0 24.125,11 24.125,25.625c0,15.25 -10.75,26.75 -24.125,26.75c-13.375,-0 -24.125,-11.5 -24.125,-26.75Z" style="fill-rule:nonzero;"/>
              <path d="M1260.51,91.085c0,26.5 18.875,46.375 46.875,46.375c23.375,-0 36,-15 36,-15l-11.25,-16c0,-0 -10.25,11 -23.75,11c-16.5,-0 -25.25,-13.625 -25.25,-26.875c0,-12.875 8.125,-25.5 25.25,-25.5c12.375,-0 22.375,9.125 22.375,9.125l10.125,-16.5c0,-0 -11.375,-12.625 -33.5,-12.625c-26.875,-0 -46.875,20 -46.875,46Z" style="fill-rule:nonzero;"/>
              <path d="M1356.64,135.96l21.875,-0l0,-35l32.5,-0l0,35l21.875,-0l0,-89.375l-21.875,-0l0,35.75l-32.5,-0l0,-35.75l-21.875,-0l0,89.375Z" style="fill-rule:nonzero;"/>
              <path d="M1447.76,90.71c0,26.25 19.75,46.75 46.75,46.75c27,-0 46.75,-20.5 46.75,-46.75c0,-25.625 -19.75,-45.625 -46.75,-45.625c-27,-0 -46.75,20 -46.75,45.625Zm22.625,-0c0,-14.625 10.75,-25.625 24.125,-25.625c13.375,-0 24.125,11 24.125,25.625c0,15.25 -10.75,26.75 -24.125,26.75c-13.375,-0 -24.125,-11.5 -24.125,-26.75Z" style="fill-rule:nonzero;"/>
              <path d="M1556.14,135.96l21.875,-0l0,-36.25l9,-0l18.875,36.25l24.5,-0l-25.5,-46.375l0,-0.25l24.125,-42.75l-23.5,-0l-18.5,34.5l-9,-0l0,-34.5l-21.875,-0l0,89.375Z" style="fill-rule:nonzero;"/>
              <path d="M1642.64,135.96l57.75,-0l0,-18.75l-35.875,-0l0,-16.875l27.25,-0l0,-18.75l-27.25,-0l0,-16.25l34.125,-0l0,-18.75l-56,-0l0,89.375Z" style="fill-rule:nonzero;"/>
              <path d="M364.889,266.165l44.896,0l2.292,-11.562l-15.938,-0l12.188,-62.396l-11.771,-0l-22.604,18.021l6.875,9.166l6.875,-5.625c2.812,-2.291 4.27,-4.166 4.27,-4.166l0.209,-0c-0,-0 -0.729,2.5 -1.25,5l-7.917,40l-16.042,-0l-2.083,11.562Z" style="fill-rule:nonzero;"/>
              <path d="M423.639,242.415c0,14.792 6.042,25 22.813,25c25.52,0 33.854,-32.708 33.854,-51.562c-0,-14.688 -5.938,-24.896 -22.917,-24.896c-25.417,-0 -33.75,32.604 -33.75,51.458Zm13.854,-0.416c0,-14.167 5.834,-38.646 19.479,-38.646c6.875,-0 9.375,5.208 9.375,13.229c0,13.333 -5.416,38.542 -19.479,38.542c-6.771,-0 -9.375,-5.313 -9.375,-13.125Z" style="fill-rule:nonzero;"/>
              <path d="M489.368,242.415c0,14.792 6.042,25 22.813,25c25.521,0 33.854,-32.708 33.854,-51.562c-0,-14.688 -5.938,-24.896 -22.917,-24.896c-25.416,-0 -33.75,32.604 -33.75,51.458Zm13.854,-0.416c0,-14.167 5.834,-38.646 19.48,-38.646c6.875,-0 9.375,5.208 9.375,13.229c-0,13.333 -5.417,38.542 -19.48,38.542c-6.77,-0 -9.375,-5.313 -9.375,-13.125Z" style="fill-rule:nonzero;"/>
              <path d="M556.139,250.54c0,12.396 9.271,16.146 18.854,16.146c1.875,0 3.854,-0.312 3.854,-0.312l2.292,-11.563c0,0 -1.25,0.208 -2.917,0.208c-3.958,0 -8.333,-1.041 -8.333,-7.083c0,-0.833 0.104,-2.604 0.417,-4.271l3.75,-19.375l12.187,0l1.979,-10.521l-12.187,0l3.021,-15.208l-12.709,0l-3.02,15.208l-7.188,0l-1.979,10.521l6.771,0l-4.167,21.25c-0.312,1.771 -0.625,3.542 -0.625,5Z" style="fill-rule:nonzero;"/>
              <path d="M589.577,266.165l13.229,0l4.687,-23.958c1.875,-9.688 9.792,-18.333 18.959,-18.333c4.166,-0 6.562,1.979 6.562,6.458c0,1.354 -0.208,3.021 -0.521,4.792l-6.041,31.041l13.229,0l6.458,-33.541c0.417,-2.292 0.729,-4.375 0.729,-6.355c0,-10.208 -6.562,-14.479 -15.937,-14.479c-8.959,0 -16.771,5.729 -19.584,10.729l-0.208,0c0,0 0.625,-2.083 1.146,-4.687l4.896,-25.625l-13.229,-0l-14.375,73.958Z" style="fill-rule:nonzero;"/>
              <path d="M686.556,266.165l9.896,-18.958l25.937,-0l2.604,18.958l13.438,0l-11.354,-73.958l-15.209,-0l-39.687,73.958l14.375,0Zm15.312,-29.896l10.521,-19.791c2.188,-4.063 5,-11.459 5,-11.459l0.208,0c0,0 0.313,7.292 0.834,11.459l2.812,19.791l-19.375,0Z" style="fill-rule:nonzero;"/>
              <path d="M747.597,266.165l13.334,0l8.333,-42.604c0.833,-4.375 1.458,-11.458 1.458,-11.458l0.209,-0c-0,-0 1.979,7.083 3.958,11.458l19.688,42.604l12.708,0l14.375,-73.958l-13.333,-0l-8.334,42.708c-0.833,4.375 -1.458,11.459 -1.458,11.459l-0.208,-0c-0,-0 -1.875,-7.188 -3.855,-11.459l-19.791,-42.708l-12.709,-0l-14.375,73.958Z" style="fill-rule:nonzero;"/>
              <path d="M826.035,266.165l13.333,0l8.334,-42.604c0.833,-4.375 1.458,-11.458 1.458,-11.458l0.208,-0c0,-0 1.979,7.083 3.959,11.458l19.687,42.604l12.708,0l14.375,-73.958l-13.333,-0l-8.333,42.708c-0.834,4.375 -1.459,11.459 -1.459,11.459l-0.208,-0c0,-0 -1.875,-7.188 -3.854,-11.459l-19.792,-42.708l-12.708,-0l-14.375,73.958Z" style="fill-rule:nonzero;"/>
              <path d="M904.368,266.165l13.438,0l14.375,-73.958l-13.334,-0l-14.479,73.958Z" style="fill-rule:nonzero;"/>
              <path d="M953.327,266.165l14.375,0l41.041,-73.958l-15.104,-0l-25.729,48.229c-2.292,4.271 -4.896,10.833 -4.896,10.833l-0.208,0c-0,0 -0.104,-6.562 -0.729,-10.833l-6.875,-48.229l-14.167,-0l12.292,73.958Z" style="fill-rule:nonzero;"/>
              <path d="M1003.64,266.165l45.938,0l2.187,-11.562l-32.5,-0l3.854,-19.896l24.896,-0l2.292,-11.563l-24.896,0l3.75,-19.375l30.833,0l2.292,-11.562l-44.167,-0l-14.479,73.958Z" style="fill-rule:nonzero;"/>
              <path d="M1063.43,266.165l13.437,0l5.313,-27.604l13.333,0l9.375,27.604l14.375,0l-9.896,-27.396c-0.937,-2.708 -1.666,-3.75 -1.666,-3.75l-0,-0.208c11.145,-3.646 16.875,-14.583 16.875,-24.687c-0,-7.605 -3.75,-13.334 -10,-16.042c-3.021,-1.354 -6.667,-1.875 -10.625,-1.875l-26.146,-0l-14.375,73.958Zm21.041,-39.271l4.48,-23.125l12.187,0c6.042,0 9.688,3.125 9.688,8.646c-0,9.063 -6.563,14.479 -14.48,14.479l-11.875,0Z" style="fill-rule:nonzero;"/>
              <path d="M1127.81,257.311c-0,0 8.229,10.104 25.729,10.104c15.312,0 26.458,-10.416 26.458,-22.708c0,-20.521 -28.958,-20.625 -28.958,-31.25c-0,-5.625 6.354,-10.104 13.125,-10.104c9.479,-0 15.625,5.521 15.625,5.521l7.292,-9.896c-0,-0 -7.084,-8.021 -22.813,-8.021c-14.062,-0 -26.771,9.271 -26.771,22.5c0,20 28.959,20.312 28.959,31.25c-0,6.875 -6.875,10.312 -12.709,10.312c-11.146,0 -17.708,-7.187 -17.708,-7.187l-8.229,9.479Z" style="fill-rule:nonzero;"/>
              <path d="M1194.89,266.165l9.896,-18.958l25.937,-0l2.605,18.958l13.437,0l-11.354,-73.958l-15.208,-0l-39.688,73.958l14.375,0Zm15.313,-29.896l10.52,-19.791c2.188,-4.063 5,-11.459 5,-11.459l0.209,0c-0,0 0.312,7.292 0.833,11.459l2.813,19.791l-19.375,0Z" style="fill-rule:nonzero;"/>
              <path d="M1255.93,266.165l13.437,0l5.313,-27.604l13.333,0l9.375,27.604l14.375,0l-9.896,-27.396c-0.937,-2.708 -1.666,-3.75 -1.666,-3.75l-0,-0.208c11.145,-3.646 16.875,-14.583 16.875,-24.687c-0,-7.605 -3.75,-13.334 -10,-16.042c-3.021,-1.354 -6.667,-1.875 -10.625,-1.875l-26.146,-0l-14.375,73.958Zm21.041,-39.271l4.48,-23.125l12.187,0c6.042,0 9.688,3.125 9.688,8.646c-0,9.063 -6.563,14.479 -14.48,14.479l-11.875,0Z" style="fill-rule:nonzero;"/>
              <path d="M1337.08,266.165l13.333,0l5.937,-30.416l33.23,-43.542l-16.042,-0l-15.417,21.771c-3.229,4.583 -6.354,9.896 -6.354,9.896l-0.208,-0c-0,-0 -1.042,-5.417 -2.604,-9.896l-7.396,-21.771l-14.375,-0l15.937,43.021l-6.041,30.937Z" style="fill-rule:nonzero;"/>
          </svg>
        </a>
        {% if page.primary_menu %}
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            {{ page.primary_menu }}
          </div>
        {% endif %}
      </div>
    </nav>
  {% endblock %}
{% endif %}


{{ page.banner_image ? page.banner_image }}
{{ page.header ? page.header }}

{% if is_front %}
<div class="container-fluid">
  {% if show_cta %}
  <div class="row p-lg-5 p-md-4 p-3 py-4 bg-grey text-light align-items-center">
    <div class="col-xl-9">
      <h5>{{ cta_text }}</h5>
    </div>
    <div class="col-xl-3 mt-xl-0 mt-4">
      <a href="{{ cta_btn_link ? cta_btn_link : '#' }}" class="btn btn-red d-xl-block" target="{{ cta_new_tab ? '_blank' : '' }}">{{ cta_btn_text }}</a>
    </div>
  </div>
  {% endif %}
  {{ page.featured_icons ? page.featured_icons }}
  {{ page.front_upcoming_events ? page.front_upcoming_events }}
  {{ page.content ? page.content }}
</div>
{% else %}
<div class="container mt-4 mb-3">
  <div class="row">
  <div class="{{ page.right_sidebar ? 'col-lg-8 ' }}col-12 mx-auto">
    {{ page.content }}
  </div>
	{% if page.right_sidebar %}
		<div class="col-lg-4 col-12 mx-auto">
			{{ page.right_sidebar }}
		</div>
	{% endif %}
  </div>
</div>
{% endif %}
</div>{# /.wrapper #}
<footer class="footer">
  {% if page.first_footer or page.second_footer or page.third_footer %}
    <div class="container-fluid footer-main pt-3">
      <div class="row mx-auto">
        {% if page.first_footer %}
          <div class="{{ (page.second_footer or page.third_footer) ? (page.second_footer and page.third_footer) ? 'col-md-4' : 'col-md-6' }} col-12 mx-auto">
            {{ page.first_footer }}
          </div>
        {% endif %}
        {% if page.second_footer %}
          <div class="{{ (page.first_footer or page.third_footer) ? (page.first_footer and page.third_footer) ? 'col-md-4' : 'col-md-6' }} col-12 mx-auto">
            {{ page.second_footer }}
          </div>
        {% endif %}
        {% if page.third_footer %}
          <div class="{{ (page.first_footer or page.second_footer) ? (page.first_footer and page.second_footer) ? 'col-md-4' : 'col-md-6' }} col-12 mx-auto">
            {{ page.third_footer }}
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}
  <div class="container-fluid footer-sub">
	<div class="row">
	  <div class="col-lg-12 col-md-10 mx-auto">
		<p class="copyright">Copyright &copy; {{ "now"|date("Y") }}, {{ subbrand_name ? subbrand_name : site_name }}{{ parent_org_name ? ', ' ~ parent_org_name : ''}} &bull; All Rights Reserved &bull; <a href="/site-information-and-policies">Site Info &amp; Policies</a></p>
	  </div>
	</div>
  </div>
</footer>
